@mixin btn_down_on($src, $src_down, $src_on, $width, $height){
	touch-action: none;
	padding: 0px;
	border: none;
	background-color: transparent;
	outline: none;
	background-image: $src;
	background-repeat: no-repeat;
	width: $width;
	height: $height;
	pointer-events: unset;
	cursor: pointer;
	&.on{
		background-image: $src_on;
		pointer-events: none;
		cursor: auto;
	}
	&.down{
		background-image: $src_down;
	}
	&:before{
        position:absolute; 
        pointer-events:none; 
        width:0px; height:0px; 
        visibility: hidden;
        overflow:hidden; 
        z-index:-1;
		content:$src $src_down $src_on;
	}
}

@mixin btn_down_dis($src, $src_down, $src_dis, $width, $height){
	@include btn_down_on($src, $src_down, $src_dis, $width, $height);
}

@mixin btn_on_dis($src, $src_on, $src_dis, $width, $height){
    @include btn_down_on($src, $src_on, $src_dis, $width, $height);
}

$empty: '';
@mixin btn_on($src, $src_on, $width, $height){
    @include btn_down_on($src, $src_on, $empty, $width, $height);
}

button, input {
	&:focus {
		outline: none !important;
	}
}