@import "./button.scss";

$BTN_AUDIO_SMALL: 35px;
$BTN_AUDIO_MIDIUM: 82px;
$BTN_AUDIO_NORMAL: 92px;

@mixin page{
	position: absolute;
	left:0px;width:100%;
	top:0px;height:100%;
}
@mixin btn_audio($wh) {
	background-size: 100% 100%;
	@include btn_on_dis(
		resolve('kor_lib/images/btn_audio.svg'),
		resolve('kor_lib/images/btn_audio_on.svg'),
		resolve('kor_lib/images/btn_audio_dis.svg'),
		$wh,
		$wh
	);	
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}
@mixin btn_audio_s() {
	background-size: 100% 100%;
	@include btn_on_dis(
		resolve('kor_lib/images/btn_audio_s.svg'),
		resolve('kor_lib/images/btn_audio_s_on.svg'),
		resolve('kor_lib/images/btn_audio_s.svg'),
		width('kor_lib/images/btn_audio_s.svg'),
		height('kor_lib/images/btn_audio_s.svg')
	);	

	filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, 0.3));
	&.on{
		filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.4));
	}
	&.down{
		filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.4));
	}
}

@mixin shadow_normal{
	box-shadow: 6px 4px 7px 0 rgba(0, 0, 0, 0.3);
}

@mixin font{
	font-family: NanumBarunGothic !important;
	-webkit-font-smoothing: antialiased;
}

@mixin btn_12{
	position: absolute;
	white-space: nowrap;
	right: 76px; width:183px;
	top: 40px; height: 39px;
	z-index: 11;
	padding:1px;
	background-color: #1B3665;
	border-radius: 19.5px;
	.btn_1{
		display: inline-block;
		vertical-align: top;
	}
	.btn_2{
		margin-left: 6px;
		display: inline-block;
		vertical-align: top;
	}
}

@mixin info_box{
	position: absolute;
	top: 36px;
	right: 280px;
	width: auto;
	height: auto;
	z-index: 2;

	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;
	&.on{
		pointer-events: auto;
		opacity: 1;
		transition: opacity 0.5s;
		
	}

	&>.btn_answer{
		display: inline-block;
		vertical-align: middle;
		@include btn_on(
			resolve('kor_lib/images/btn_answer.png'),
			resolve('kor_lib/images/btn_answer_on.png'),
			width('kor_lib/images/btn_answer.png'),
			height('kor_lib/images/btn_answer.png')
		);
		margin-right:3px;
		pointer-events: unset;	
	}
	&>.return_cnt_box{
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;

		@include return_cnt_box_white;
	}
}

@mixin return_cnt_box_white{
	width: auto;
	height: auto;
	border: none;
	&>div{
		width: 73px;
		height: 32px;
		border: 3px solid rgba(255, 255, 255, 0.6);
		border-radius: 16px;
		text-align: center;
		font-family: NotoSans;
		color: rgba(255, 255, 255, 0.6);;
		line-height: 24px;
		font-size: 18px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2) inset;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	}
}

.btn_down {
    @include btn_down_on(
        url('/kor_lib/teacher/images/btn_down.png'),
        url('/kor_lib/teacher/images/btn_down_down.png'),
        url('/kor_lib/teacher/images/btn_down_dis.png'),
        100px,
        30px
    )
}
